.card {
    position: relative;
    background-color: aliceblue;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    box-shadow: 0px 18px 53px 0px rgb(82, 82, 82);
    border-radius: 20px;
    background-size: cover;
    background-position: center;

}


.tinderCards__cardContainer {
    margin-top: 2vh;
    justify-content: center;
    display: flex;
}

.swipe {
    position: absolute;
}

.cardContent {
    width: 100%;
    height: 100%;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: rgb(209, 6, 81);
}